<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Development Area</title>
	<!-- ALL CSS FILES  -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>

	<div id="root">
		<div class="wrap-table">
			<!-- <a class="btn btn-sm btn-info pull-right" href="">Add new user</a>			 -->
			<div class="card w-50">
				<div class="card-body">
					<h2>Add New User</h2>
					<hr>
					<!-- <form action=""> -->
						<div class="form-group">
							<input v-model="user.name" type="text" class="form-control" placeholder="Name">
						</div>
						<div class="form-group">
							<input v-model="user.email" type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<input v-model="user.cell" type="text" class="form-control" placeholder="Cell">
						</div>
						<div class="form-group">
							<input ref="file" type="file">
						</div>
						<div class="form-group">
							<input @click="addNewUser()" type="submit" class="btn btn-sm btn-info" value="Submit">
						</div>
					<!-- </form> -->
				</div>
			</div>
			<div class="card shadow">
				<div class="card-body">
					<h2>All Users</h2>
					<input @keyup="searchUser()" v-model="search" class="float-right" type="text" placeholder="Search User">
					<br><br>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Cell</th>
								<th>Photo</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<tr v-for="(user, i) in users">
								<td>{{ i+1 }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.cell }}</td>
								<td><img :src="'photo/users/' + user.photo" alt=""></td>
								<td>
									<a @click="singleUserProfile(user.id)" class="btn btn-sm btn-info" data-toggle="modal" href="#single_user">View</a>
									<a class="btn btn-sm btn-warning" href="#">Edit</a>
									<a @click="deleteUser(user.id, $event)" class="btn btn-sm btn-danger" href="#">Delete</a>
								</td>
							</tr>							
	
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="single_user" class="modal fade">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<img class="shadow" style="width: 200px; height: 200px; border: 10px solid #fff; border-radius: 50%; display: block; margin: auto;" :src="'photo/users/' + single_user.photo" alt="">
						<h2>{{ single_user.name }}</h2>
						<hr>
						<table class="table table-striped">
							<tr>
								<td>Name:</td>
								<td>{{ single_user.name }}</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td>{{ single_user.email }}</td>
							</tr>
							<tr>
								<td>Cell:</td>
								<td>{{ single_user.cell }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>



	<!-- JS FILES  -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/axios.min.js"></script>
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-router.js"></script>
	<script src="assets/js/custom.js"></script>
	<script>
		const root = new Vue({
			el: '#root',
			data: {
				users: [],
				user: {
					name: '',
					email: '',
					cell: '',
					photo: '',
				},
				single_user: {
					name: '',
					email: '',
					cell: '',
					photo: '',
				},
				search: '',
			},
			methods: {
				//Get All Users from Database
				getAllUsers: function(){
					axios.get('inc/user.php?action=read').then(function(response){
						root.users = response.data;
					});
				},

				//Add New User
				addNewUser: function(){
					if(root.user.name == '' || root.user.email == '' || root.user.cell == ''){
						alert('All fields are required !');
					}else{
						//Photo
						this.user.photo = root.$refs.file.files[0];

						//Form Data Bind
						let userData = new FormData();
						userData.append('name', this.user.name);
						userData.append('email', this.user.email);
						userData.append('cell', this.user.cell);
						userData.append('photo', this.user.photo);

						axios.post('inc/user.php?action=create', userData, {
							header: {
								'Content-Type' : 'multipart/form-data',
							}
						}).then(function(response){
							console.log(response.data);
							root.user.name = null;
							root.user.email = null;
							root.user.cell = null;

							root.getAllUsers();
						});
					}
				},

				//Delete User Data
				deleteUser: function(id, event){
					event.preventDefault();
					let con = confirm('Are you sure ?');

					if(con){
						axios.get('inc/user.php?action=delete&id=' + id).then(function(response){
							console.log(response.data);
							root.getAllUsers();
						});
					}else{
						alert('Your Data Safe !');
					}
				},

				//Show Single User
				singleUserProfile: function(id){
					axios.get('inc/user.php?action=single&id=' + id).then(function(response){
						console.log(response.data);

						root.single_user.name = response.data.name;
						root.single_user.email = response.data.email;
						root.single_user.cell = response.data.cell;
						root.single_user.photo = response.data.photo;
					});
				},

				//User Data Search
				searchUser: function(){
					//let search_text = root.search;
					let search_text = this.search;
					axios.get('inc/user.php?action=search&s=' + search_text).then(function(response){
						console.log(response.data);
						root.users = response.data;
					});
				},
			},
			created: function(){
				this.getAllUsers();
			},
			mounted: function(){

			},
		});
	</script>
</body>
</html>